version: "3.2"
services:
  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: 'rabbitmq'
    ports:
        - 5672:5672
        - 15672:15672
    volumes:
        - /home/juane/POCs_Bancolombia/volumes_docker/rabbitmq/data/:/var/lib/rabbitmq/
        - /home/juane/POCs_Bancolombia/volumes_docker/rabbitmq/log/:/var/log/rabbitmq
    networks:
        - rabbitmq_go_net

networks:
  rabbitmq_go_net:
    driver: bridge
   
#Una vez creada la carpeta de log por docker-compose, el contenedor va a fallar, se debe usar el siguiente comando: sudo chown -R systemd-network:root log/
